@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #e5e5e5;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/* Start of Navbar */

.pro {
  display: none;
}

.desktop {
  display: none;
}

.menu {
  display: none;
}

/* Backgound images */

/* Start of First page */

.page-1 {
  position: relative;
  background-color: #fff;
  height: 600px;
  border-bottom-left-radius: 100px 70px;
  overflow-x: hidden;
  background-image:

    url(/image/g1.png),
    url(/image/g2.png),
    url(/image/ddd.png),
    url(/image/c1.png),
    url(/image/c2.png),
    url(/image/g3.png),
    url(/image/c3.png),
    url(/image/g4.png);
  background-repeat: no-repeat;
  background-position:

    left -30px top -20px,
    left 150px top 30px,
    top -10px right -50px,
    left 250px top 1px,
    left 300px top 150px,
    left 330px top 400px,
    left 80px top 530px,
    left 270px top 520px;
  background-size: auto, auto, 125px 125px, auto, auto, 50px 50px;
}

.p1-title {
  width: 327px;
  height: auto;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
  padding-top: 30px;
  margin-left: 30px;
  margin-top: 40px;
}

.p1-description {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  width: 350px;
  color: #344563;
  margin-left: 30px;
}

.p1-connect {
  color: #7f8cff;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  text-decoration: none;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/*
.p1-link {
  display: flex;
  width: ;
  justify-content: space-between;
  margin-bottom: 1rem;
  list-style-type: none;
} */

/* End of First page */

/* Start of Work page */

.work-section {
  position: relative;
  display: flex;
  flex-direction: column;
}

.all-work {
  align-self: center;
  padding: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 60px 50px;
}

.first-work {
  display: flex;
  height: 550px;
  width: 327px;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 12px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
}

.first-work-image {
  display: flex;
}

.first-work-content {
  padding: 0.1rem 0.6rem;
}

.first-work-title {
  color: #172b4d;
}

.first-work-list {
  display: flex;
  margin-bottom: 8px;
  justify-content: space-between;
  width: 80%;
  font-size: 12px;
}

.list-1 {
  font-weight: 700;
}

.work-description {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.language {
  display: flex;
  margin: 10px 10px 30px 0.5px;
}

.web-lang {
  color: #6070ff;
  background: #ebebff;
  border-radius: 8px;
  font-size: 11px;
  font-weight: 500;
  padding: 3px 5px;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.see-btn {
  display: flex;
  float: left;
  margin-top: -20px;
  font-weight: 500;
  font-size: 13px;
  color: #396df2;
  text-align: center;
  align-items: center;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #396df2;
}

/* End of work Page */

/* start of About page */

.about-page {
  position: relative;
}

.about-content {
  padding: 3rem;
  padding-top: 5rem;
  background: #fff;
  border-top-right-radius: 100px 70px;
  border: 1px solid #dfe1e6;
}

.about-myself {
  margin-bottom: 1px;
}

.myself {
  width: 250px;
  height: 101px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
}

.about-myself-text {
  width: 327px;
  height: 144px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.connect-btn {
  width: 150px;
  height: auto;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  text-transform: uppercase;
  margin-top: 10px;
}

.connect-btn1 {
  width: 150px;
  height: auto;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  text-transform: uppercase;
  margin: 10px 10px 1px 25px;
}

.media-link {
  display: flex;
  width: 100%;
  margin: -30px 1px 5px 25px;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.media-link1 {
  display: flex;
  width: 80%;
  margin: -30px 1px 5px 25px;
  justify-content: space-between;
  margin-bottom: 1rem;
  margin-left: 55px;
}

.social-link {
  display: flex;
  width: 40%;
  justify-content: space-between;
  margin-bottom: 15px;
  margin-left: -30px;
  margin-top: 50px;
}

.resume-btn {
  width: 138px;
  height: 100px;
  font-weight: 600;
  font-size: 13px;
  color: #396df2;
  padding: 13px 30px;
  border-radius: 10px;
  border: 1px solid #396df2;
  margin: 1px 1px 18px -10px;
}

.programing-skill {
  margin: 30px 1px 5px 30px;
}

.programing-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1px;
  padding-right: 1px;
}

.language-title {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  margin-left: -50px;
  line-height: 24px;
  color: #000;
}

.line {
  display: flex;
  position: absolute;
  left: 45px;
  margin: 3px;
}

.skill-list {
  display: flex;
  width: 303px;
  height: 50px;
  background: #f7f7f9;
  border-radius: 8px;
  margin-top: 15px;
  margin-left: -50px;
}

.skill-name {
  position: relative;
  left: 15px;
  right: 12px;
  top: calc(50% - 24px / 2 - 12px);
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #253858;
}

.Framework {
  margin: 5px 1px 5px 25px;
}

.mobile-line {
  margin-left: -60px;
}

.contact-me {
  display: flex;
  flex-direction: column;
  background-image: url("/image/back-shap.png"), url("/image/Shape.png");
  background-position: left 200px top 20px, left 150px top 775px;
  background-repeat: no-repeat;
  background-color: #6070ff;
  font-style: normal;
  align-items: center;
  text-align: center;
  margin-top: 50px;
  border-top-left-radius: 100px;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
}

.input-field {
  display: block;
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  margin: 10px;
  align-items: center;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  height: 24px;
  width: 300px;
  margin-left: 20px;
  padding: 20px;
}

.contact-me-text {
  margin-top: 103px;
  font-style: normal;
  color: #ebebff;
  font-size: 40px;
  line-height: 52px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

.contact-me-brief {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #ebebff;
  text-align: center;
  margin-top: -10px;
  margin-bottom: 50px;
}

.write-message {
  border-radius: 8px;
  font-weight: 400;
  font-size: 17px;
  padding: 10px;
  margin-left: 8px;
}

.get-in-touch button {
  color: #6070ff;
  font-weight: 500;
  font-size: 17px;
  background-color: #fff;
  padding: 12px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  margin-bottom: 100px;
  margin-left: -150px;
  font-family: 'Poppins', sans-serif;
}

.get-btn {
  text-align: center;
  letter-spacing: 0.03em;
}

.get-in-touch:hover button {
  color: #fff;
  background-color: #7f8cff;
}

.get-in-touch:active button {
  color: #fff;
  background-color: #3347ff;
}

.desktop-hor {
  display: none;
}

.navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.nav-branding {
  font-size: 1.5rem;
  color: #6070ff;
  transition: 0.2s;
}

.nav-link {
  transition: 0.6s ease;
}

.nav-link:hover {
  color: dodgerblue;
}

.hambarger {
  display: block;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #6070ff;
}

.bar.active {
  background-color: white;
}

.hambarger.active .bar:nth-child(2) {
  opacity: 0;
}

.hambarger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hambarger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
  background-color: white;
}

.header {
  position: relative;
  background-color: #fff;
  z-index: 10;
}

.container-scroll {
  width: 100%;
  overflow-y: scroll;
  background-color: #dc4a0cdd;
}

.modal {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background-color: #fff;
  border-radius: 30px;
  width: 100%;
  height: 97vh;
  max-width: 80%;
  padding: 15px 30px 40px 30px;
  z-index: 100;
  backdrop-filter: blur(0.31rem);
  margin: 30px;
  overflow-y: scroll;
  box-shadow: 10px 10px 29px 0 rgba(0, 0, 0, 0.75);
}

body.active {
  overflow: hidden;
}

.desktop-version.active {
  filter: blur(0.3rem);
  transition: 0.3s;
}

.image-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 75vh;
  border-radius: 8px;
  background-color: #e4e7e5;
}

.modal-image {
  width: 85%;
  height: 75vh;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  display: flex;
  padding: 10px 10px;
  justify-content: space-between;
}

.modal-title {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #091e42;
}

.modal-list {
  list-style: disc;
  display: flex;
  margin: 5px 0 20px 5px;
}

.close-modal-button {
  background: transparent;
  border: none;
  color: #67798e;
  font-size: 28px;
}

.modal-list li {
  margin-right: 25px;
  color: #7a869a;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

.modal-list li:nth-child(1) {
  list-style-type: none;
  color: #344563;
}

.modal-content-detail {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 25px;
}

.modal-detial {
  margin-top: 30px;
  padding: 5px;
}

.modal-content-detail .modal-content-list .modal-language {
  margin: 15px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.modal-content-detail .modal-content-list .modal-language li {
  background-color: #ebebff;
  color: #6070ff;
  border-radius: 10px;
  width: fit-content;
  padding: 1px 15px;
  margin-right: 15px;
  margin-top: 15px;
}

hr {
  margin: 25px 20px 35px 20px;
  border: 1px solid #ebecf0;
  font-size: 3px;
  width: 70%;
}

.model-links {
  display: flex;
  width: 20rem;
  margin: 20px;
  justify-content: space-evenly;
}

.modal-link-btns {
  display: flex;
  flex-wrap: wrap;
  width: fit-content;
  justify-content: center;
  align-content: center;
  align-items: end;
  text-align: center;
  background: #fff;
  padding: 9px 20px;
  border: 1px solid #6070ff;
  box-shadow: 0 48px 48px rgba(37, 47, 137, 0.08);
  border-radius: 12px;
  color: #6070ff;
}

.alert {
  color: red;
  font-size: medium;
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  75% {
    font-size: 300%;
    margin-left: 25%;
    width: 150%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

@media (max-width: 768px) {
  /* model-start */

  .modal {
    overflow-x: hidden;
    width: 100%;
    height: 100vh;
    max-width: 80%;
    padding: 15px;
  }

  .modal-content {
    display: flex;
    flex-direction: column;
  }

  .image-container {
    height: 30vh;
  }

  .modal-image {
    width: 100%;
    height: 30vh;
    align-self: center;
  }

  .modal-title {
    font-size: 30px;
    line-height: 32px;
  }

  .modal-list {
    list-style: disc;
    display: flex;
    margin: 5px 0 10px 10px;
  }

  .close-modal-button {
    font-size: 40px;
  }

  .modal-content-detail {
    display: flex;
    flex-direction: column;
  }

  .modal-detial {
    font-size: 15px;
  }

  hr {
    margin: 25px 0;
    width: 100%;
  }

  .modal.active {
    transform: translate(-56%, -50%) scale(1);
  }

  .model-links {
    width: 100%;
    margin: 20px 5px;
    justify-content: center;
  }

  .modal-link-btns {
    padding: 9px 15px;
    margin-right: 10px;
  }

  /* model-end */
  .nav-menu {
    position: absolute;
    left: -100%;
    top: 60px;
    width: 100%;
    height: 100%;
    background-color: #6070ff;
    opacity: 0.95;
    transition: 0.5s;
    z-index: 1;
  }

  .blur-bg {
    filter: blur(2.2px);
  }

  .header.active {
    background-color: #6070ff;
    transition: 0.5s;
  }

  .nav-item {
    margin: 30px 0;
    color: white;
  }

  .nav-link {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    margin-left: 30px;
    font-size: 32px;
    line-height: 44px;
    color: #fff;
  }

  .nav-menu.active {
    left: 0;
  }
}

@media (min-width: 768px) {
  .hambarger {
    display: none;
    cursor: pointer;
  }

  .media-desktop {
    width: 40%;
  }

  .nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    position: relative;
    margin-right: 100px;
  }

  .work-section {
    display: none;
  }

  .desktop-version {
    padding: 50px;
  }

  .desktop {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    padding: 20px;
    border-radius: 24px;
    background: #fff;
    border: 1px solid #dfe1e6;
    width: 100%;
    margin-bottom: 50px;
  }

  .content {
    width: 100%;
  }

  .title {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
  }

  .desktop-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
    font-size: 12px;
    width: 70%;
  }

  .list1 {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #344563;
  }

  .list2 {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #6b778c;
  }

  .counter-image-desktop {
    margin: 10px 8px 2px 8px;
  }

  .description {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
    width: 100%;
    padding: 10px 10px -20px 10px;
    margin-top: 30px;
  }

  .desktop-language {
    display: flex;
    flex-wrap: wrap;
    padding-top: 15px;
  }

  .desktop-l {
    padding: 5px 15px 2px 15px;
  }

  .desktop-see-btn {
    display: flex;
    float: left;
    font-weight: 500;
    font-size: 13px;
    color: #396df2;
    text-align: center;
    align-items: center;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #396df2;
  }

  .page-1 {
    background-image: url(/image/desktop.png);
    background-position: right -30px;
    height: 110vh;
    background-position-y: 0.1rem;
    background-size: 1200px 600px;
    margin-top: 1px;
    margin-bottom: 30px;
    border-bottom-left-radius: 100px;
    background-color: #fff;
  }

  :hover .hover-image {
    transform: scale(1.02);
  }

  .br {
    display: none;
  }

  .p1-title {
    position: relative;
    top: 100px;
    left: 20%;
    width: 400px;
  }

  .desktop-connect-btn {
    position: relative;
    top: 115px;
    left: 245px;
  }

  .p1-description {
    position: relative;
    top: 110px;
    left: 20%;
    width: 750px;
  }

  .connect-btn {
    position: relative;
    left: 20%;
    top: 110px;
  }

  .desktop-about {
    display: flex;
    height: 600px;
  }

  .desktop-myself {
    margin: 70px 50px 0.5px 70px;
  }

  .desktop-text {
    width: 450px;
    margin-left: 70px;
  }

  .dektop-line {
    margin-left: 500px;
  }

  .desktop-connect {
    margin: -150px 50px 10px -35px;
  }

  .desktop-media {
    margin: 80px 10px 30px 95px;
  }

  .desktop-resume {
    margin: 70px;
  }

  .desktop-skills {
    margin: 80px 10px 10px 150px;
  }

  .arrow {
    margin-left: 150px;
  }

  .not-show {
    display: none;
  }

  .pro {
    display: flex;
    margin: 150px 10px 10px 50px;
  }

  .pro-basic {
    border-radius: 8px;
    background: #f7f7f9;
    height: 90px;
    margin: 5px;
    width: 100px;
  }

  .pa {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    align-items: center;
    color: #253858;
  }

  .lal {
    margin-left: -470px;
  }

  .frame-margin {
    margin: 150px 10px 10px -50px;
  }

  .skill-margin {
    margin-left: -520px;
  }

  .arrow-margin {
    margin-left: 550px;
  }

  .desktop-form {
    background-image: url(/image/form-back.png);
    background-size: 1100px 600px;
    background-position: top 100px left 40px;
    margin: 1px;
    height: 833px;
  }

  .desktop-input {
    border-radius: 1px;
    width: 400px;
  }

  .desktop-get-btn {
    margin-left: 150px;
  }

  .mobile-line {
    display: none;
  }

  .desktop-hor {
    display: flex;
    margin-left: -550px;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .desktop-arrow {
    margin-left: -50px;
  }

  .desktop-arrow1 {
    margin-left: -60px;
  }
}

/* .modal::-webkit-scrollbar{
  display: none;
} */
